* {
  box-sizing: border-box;
}

#title{
  font-size: 50px;
  color: green;
  cursor: pointer;
}

.box{
  margin-top: 100px;
  width: 200px;
  height: 200px;
  background-color: red;
}

.wrapper{
  padding: 20px; 
 }
 .square{
   background-color: #4285f4;
   width: 30px;
   height: 30px;
   cursor: pointer;
   margin-bottom: 10px;
 }

 .cls-1 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.back{
  /* position: absolute; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #FF4B4B;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;
}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 1rem;
  height: 1rem;
  border: 1px solid #FFF;
  background-color: #FFF;
}

