* {
  box-sizing: border-box;
}

#title{
  font-size: 50px;
  color: green;
  cursor: pointer;
}

.box{
  margin-top: 100px;
  width: 200px;
  height: 200px;
  background-color: red;
}

.wrapper{
  padding: 20px; 
 }
 .square{
   background-color: #4285f4;
   width: 30px;
   height: 30px;
   cursor: pointer;
   margin-bottom: 10px;
 }